public/n8n.workflow.json
{
  "name": "Aminah",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-ticket",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -384,
        -64
      ],
      "id": "830f1620-40d4-450f-a882-609ce3fe9d78",
      "name": "Webhook",
      "webhookId": "bf9decc4-61c3-4ae7-8e2a-e422349c2b5a"
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "10035",
          "mode": "list",
          "cachedResultName": "UXBERT New Website"
        },
        "issueType": {
          "__rl": true,
          "value": "10047",
          "mode": "list",
          "cachedResultName": "Bug"
        },
        "summary": "=[{{ $json.body.deviceType }}] {{ $json.body.title }}",
        "additionalFields": {
          "description": "={{ $json.body.description }}\n\nGenerated by Aminah :\nURL       : {{ $json.body.url }}\nBrowser   : {{ $json.body.browser }}\nOS        : {{ $json.body.os }}\nScreen    : {{ $json.body.screenResolution }}\nViewport  : {{ $json.body.viewport }}\nUserAgent : {{ $json.body.userAgent }}\nLanguage  : {{ $json.body.language }}\nPlatform  : {{ $json.body.platform }}\n",
          "priority": {
            "__rl": true,
            "value": "={{ $json.body.priority }}",
            "mode": ""
          }
        }
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        -112,
        -128
      ],
      "id": "e4f67fd9-56f9-4c1b-8d48-2b10f1ee679f",
      "name": "Create an issue",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "sF08y4goAxm2aVmw",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "resource": "issueAttachment",
        "issueKey": "={{ $json.key }}",
        "binaryPropertyName": "={{ $('Webhook').item.binary.screenshot }}"
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        128,
        -80
      ],
      "id": "8ebd13cb-50ad-47c0-addc-996c9a97770e",
      "name": "Add an attachment to an issue",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "sF08y4goAxm2aVmw",
          "name": "Jira SW Cloud account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Create an issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an issue": {
      "main": [
        [
          {
            "node": "Add an attachment to an issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5ff037c5-d6d4-4b08-9e64-dad4c726bae4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "88577389dd04742fef1e5c05bc84c67b3c9a7764bcf4eaefa98dfdd18f447191"
  },
  "id": "gYQACPn8YgjMUhiY",
  "tags": []
}