public/n8n.workflow.json
{
  "name": "Aminah",
  "nodes": [
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "10035",
          "mode": "list",
          "cachedResultName": "UXBERT New Website"
        },
        "issueType": {
          "__rl": true,
          "value": "10047",
          "mode": "list",
          "cachedResultName": "Bug"
        },
        "summary": "=[{{ $('Webhook').item.json.body.deviceType }}] {{ $('Webhook').item.json.body.title }}",
        "additionalFields": {
          "description": "={{ $('Webhook').item.json.body.description }}\n\n{{ $json.content }}\n\nGenerated by Aminah :\nURL       : {{ $('Webhook').item.json.body.url }}\nBrowser   : {{ $('Webhook').item.json.body.browser }}\nOS        : {{ $('Webhook').item.json.body.os }}\nScreen    : {{ $('Webhook').item.json.body.screenResolution }}\nViewport  : {{ $('Webhook').item.json.body.viewport }}\nUserAgent : {{ $('Webhook').item.json.body.userAgent }}\nLanguage  : {{ $('Webhook').item.json.body.language }}\nPlatform  : {{ $('Webhook').item.json.body.platform }}\n\n",
          "priority": {
            "__rl": true,
            "value": "={{ $('Webhook').item.json.body.priority }}",
            "mode": ""
          }
        }
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        16,
        -368
      ],
      "id": "e4f67fd9-56f9-4c1b-8d48-2b10f1ee679f",
      "name": "Create an issue",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "sF08y4goAxm2aVmw",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "resource": "issueAttachment",
        "issueKey": "={{ $json.key }}",
        "binaryPropertyName": "={{ $('Webhook').item.binary.screenshot }}"
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        208,
        -368
      ],
      "id": "8ebd13cb-50ad-47c0-addc-996c9a97770e",
      "name": "Add an attachment to an issue",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "sF08y4goAxm2aVmw",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "content": "STEP TO CREATE JIRA TICKET\n",
        "height": 80,
        "width": 288,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        16,
        -464
      ],
      "id": "afe8ecee-9c62-4cd5-8834-52bd723ef1d7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Webhook endpoint\n",
        "height": 80,
        "width": 176,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -624,
        -464
      ],
      "id": "6c984540-bd95-45ba-be47-c4019caa0a1b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-ticket",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -592,
        -368
      ],
      "id": "830f1620-40d4-450f-a882-609ce3fe9d78",
      "name": "Webhook",
      "webhookId": "bf9decc4-61c3-4ae7-8e2a-e422349c2b5a"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=This payload is coming from our reporting tool.\nAnalyze it carefully and write a clear, human-readable summary that can be used directly in a Jira ticket description.\nInclude only the most relevant and actionable information such as:\n\nwhat the issue is\n\nwhere and when it occurred\n\nhow to reproduce it (if possible)\n\nwhat the expected vs actual behavior was\n\nany logs, screenshots, or error messages\n\nthe user or reporter details if available\n\nThe final text should be concise, structured, and ready to paste into a Jira ticket.\n\nthis is the payload :\n{{ JSON.stringify($json.body) }}\n\nalso analyze the attached image to detect the selected painted parts",
        "inputType": "base64",
        "binaryPropertyName": "={{ 'screenshot'}}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -272,
        -256
      ],
      "id": "d37cf6ea-ecb6-469c-b31f-eb33da0f7c0b",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "tzs20coJdWIH12Iu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "Analyze the image and other variables to generate a better description.",
        "height": 80,
        "width": 230,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -336,
        -368
      ],
      "id": "07f6298f-adb5-47ce-9216-88a1a1986e9b",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Create an issue": {
      "main": [
        [
          {
            "node": "Add an attachment to an issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Create an issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "23e28396-9c04-4d22-8307-65a43ee0a63c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "88577389dd04742fef1e5c05bc84c67b3c9a7764bcf4eaefa98dfdd18f447191"
  },
  "id": "gYQACPn8YgjMUhiY",
  "tags": []
}